<h4>Thông Tin Nhân Viên</h4>
<div id="managerform">
<input type="text" name="staffName" placeholder="Tên">
<input id="datepicker-manager-3" name="staffDob" placeholder="Ngày sinh">
<input type='text' name="staffGender" placeholder="Giới tính">
<input type="text" name="staffIDcard" placeholder="Cmnd">
<input type="text" name="staffPhoneNumber" placeholder="Số điện thoại">
<input type="text" name="staffEmail" placeholder="Email">
<input type="text" name="staffAddress" placeholder="Địa chỉ">
<input type="text" name="staffPosition" placeholder="Chức vụ">
<input type="text" name="staffSalary" placeholder="Lương">
<button onclick="filledStaffForm()">Xác Nhận</button>
</div>